@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";
@import "./themes/light.scss";
@import "./themes/dark.scss";

[x-cloak] { 
  display: none !important; 
}

/* this css use to customize the autofill background of browser */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-on-surface-600);
}


@layer base {
  :root {
    /* Primary */
    --color-primary-50: #fef2f2;
    --color-primary-100: #fee2e2;
    --color-primary-200: #fecaca;
    --color-primary-300: #fca5a5;
    --color-primary-400: #f87171;
    --color-primary-500: #ef4444;
    --color-primary-600: #dc2626;
    --color-primary-700: #b91c1c;
    --color-primary-800: #991b1b;
    --color-primary-900: #7f1d1d;
    --color-primary-950: #450a0a;

    /* On Primary */
    --color-on-primary-50: #ffffff;
    --color-on-primary-100: #ffffff;
    --color-on-primary-200: #ffffff;
    --color-on-primary-300: #ffffff;
    --color-on-primary-400: #ffffff;
    --color-on-primary-500: #ffffff;
    --color-on-primary-600: #ffffff;
    --color-on-primary-700: #ffffff;
    --color-on-primary-800: #ffffff;
    --color-on-primary-900: #ffffff;
    --color-on-primary-950: #ffffff;

    /* Surface */
    --color-surface: #ffffff;
    --color-surface-50: #fafafa;
    --color-surface-100: #f4f4f5;
    --color-surface-200: #e4e4e7;
    --color-surface-300: #d4d4d8;
    --color-surface-400: #a1a1aa;
    --color-surface-500: #71717a;
    --color-surface-600: #52525b;
    --color-surface-700: #3f3f46;
    --color-surface-800: #27272a;
    --color-surface-900: #18181b;
    --color-surface-950: #09090b;

    /* On Surface */
    --color-on-surface-50: #000000;
    --color-on-surface-100: #000000;
    --color-on-surface-200: #000000;
    --color-on-surface-300: #000000;
    --color-on-surface-400: #000000;
    --color-on-surface-500: #000000;
    --color-on-surface-600: #000000;
    --color-on-surface-700: #000000;
    --color-on-surface-800: #000000;
    --color-on-surface-900: #000000;
    --color-on-surface-950: #000000;

    /* Background */
    --color-background: #ffffff;
    --color-on-background: #000000;
  }
}

/* Mapping sang token Tailwind */
@theme {
  --disable-default-colors: true;

  /* Primary */
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-950: var(--color-primary-950);

  /* On Primary */
  --color-on-primary-50: var(--color-on-primary-50);
  --color-on-primary-100: var(--color-on-primary-100);
  --color-on-primary-200: var(--color-on-primary-200);
  --color-on-primary-300: var(--color-on-primary-300);
  --color-on-primary-400: var(--color-on-primary-400);
  --color-on-primary-500: var(--color-on-primary-500);
  --color-on-primary-600: var(--color-on-primary-600);
  --color-on-primary-700: var(--color-on-primary-700);
  --color-on-primary-800: var(--color-on-primary-800);
  --color-on-primary-900: var(--color-on-primary-900);
  --color-on-primary-950: var(--color-on-primary-950);

  /* Surface */
  --color-surface: var(--color-surface);
  --color-surface-50: var(--color-surface-50);
  --color-surface-100: var(--color-surface-100);
  --color-surface-200: var(--color-surface-200);
  --color-surface-300: var(--color-surface-300);
  --color-surface-400: var(--color-surface-400);
  --color-surface-500: var(--color-surface-500);
  --color-surface-600: var(--color-surface-600);
  --color-surface-700: var(--color-surface-700);
  --color-surface-800: var(--color-surface-800);
  --color-surface-900: var(--color-surface-900);
  --color-surface-950: var(--color-surface-950);

  /* On Surface */
  --color-on-surface-50: var(--color-on-surface-50);
  --color-on-surface-100: var(--color-on-surface-100);
  --color-on-surface-200: var(--color-on-surface-200);
  --color-on-surface-300: var(--color-on-surface-300);
  --color-on-surface-400: var(--color-on-surface-400);
  --color-on-surface-500: var(--color-on-surface-500);
  --color-on-surface-600: var(--color-on-surface-600);
  --color-on-surface-700: var(--color-on-surface-700);
  --color-on-surface-800: var(--color-on-surface-800);
  --color-on-surface-900: var(--color-on-surface-900);
  --color-on-surface-950: var(--color-on-surface-950);

  /* Background */
  --color-background: var(--color-background);
  --color-on-background: var(--color-on-background);
}
